@media (max-width: 300px) {
  
    }
  
   /* Navbar styles */
  #navbar {
    display: flex;
    gap:30px;
    position: fixed;
   top: 0; 
    background-color: white;
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    gap:30px;
    color: black;
    font-size: larger;
    text-decoration: none;
    margin-bottom: 13px;
  }
  body{
    background-color: white;
    font-size: 30px;
  }
  
  
  
  
  